<div style="padding: 20px">
  <div class="flex-row">
    <div><ui-shared-button></ui-shared-button></div>
    <div style="padding-left: 20px">Kompletter Button aus Shared-lib</div>
  </div>
</div>

<div style="padding: 20px">
  <div class="flex-row">
    <button mat-raised-button class="lib-button-style" style="width: 200px">
      lib-button-style
    </button>
    <div style="padding-left: 20px">
      Kein direkter Zugriff auf Style-Klassen der Komponenten in Shared-lib
    </div>
  </div>
</div>

<div style="padding: 20px">
  <div class="flex-row">
    <button mat-raised-button class="shared-button-style" style="width: 200px">
      shared-button-style
    </button>
    <div style="padding-left: 20px">
      Style-Klassen aus Shared-Styles d&uuml;rfen hier verwendet werden
    </div>
  </div>
</div>

<div style="padding: 20px">
  <div class="flex-row">
    <button mat-raised-button class="local-button-style">
      local-button-style
    </button>
    <div style="padding-left: 20px">
      Lokale Style-Klassen d&uuml;rfen hier nat&uuml;rlich auch verwendet werden
    </div>
  </div>
</div>
